body {
    background-image: url(Landing.jpg);
    background-size:cover;
}

h1 {
    color:black;
    font-family: 'Righteous', cursive;
    font-size: 50px;

}

section {
    text-align:center;
    position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:200px;

}

.box {
    position: relative;
    text-align:center;
    width: 600px;
    height: 450px;
    backdrop-filter: blur(20px);
    border: 4px solid black;
    border-radius:  20px;
}


/* button stuff */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }